
@font-face {
  font-family: "RalewayRegular";
  src: url("assets/fonts/RalewayRegular/RalewayRegular.eot");
  src: url("assets/fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("assets/fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("assets/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body { 
  margin: 0;
  font-family: "RalewayRegular";
}
.img_gallary{

  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  width: 50%;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
div.gallery {
  
  padding: 0 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 250px;
  height: 300px;
  margin: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.gallery:hover {
  
}

div.gallery img {
  width: auto;
  height: 240px;
  max-width: 100%;
}

div.desc {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: left;
}
a:link {
  color: #4DADBB;
}
a:visited {
  color: #4DADBB;
}

.responsive {
  padding: 0 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 25.99999%;
  margin: 25px;
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .gallery{
    width: 100%;
  }
}

.gallery_block{
  padding-top: 50px;
  background-color:rgb(230,230,230); 
  padding-bottom: 25px;
}
.poster{
  background-image: url('assets/images/fon.png');
  overflow: hidden;
  background-position: bottom; 
  background-repeat: no-repeat; 
  background-size: cover; 
  height: 720px;
}
.header_gallery
{
  margin: 0 auto;
  height:70px;
  width: 60%;
  text-align: center;
}
.uper{
  margin: 0 auto;
  margin-top: 200px;
  height: 500px;
  width: 60%;
  text-align: center;
}
.uper p.title1{
  font-size: 300%;
  font-weight: bold;
}
.uper p.title2{
  font-size: 100%;
  
}
button.start_search:hover {background-color: red}
.searcher
{
  box-shadow: 1 4px #999;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; 
}
.uper
.searcher input{
  height: 65px;
  width: 60%;
  border: none;
  padding: 0px;
}
.uper
.searcher .drop{
  background-color: red;
  height: 65px;
  width: 20%;
  float: left;
}
.uper
.searcher .start_search
{
  border-top-right-radius:10px;
  border-bottom-right-radius:10px; 
  background-color: #00afbd;
  height: 65px;
  width: 20%;
  font-size: 80%;
  float: right;
  color: white;
}

.down
{
  height: 10%;
  width: 380px;
  margin: -5% auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
}
.down
.plate
{
  
  opacity: 0.8;
  background:  white;
  height: 100%;
  width: 171px;
  font-size: 80%;
  /*margin-left: 11%;*/
  /*float: right;*/
  border-radius: 10px;
}

img.img_down
{
  margin:15%  auto; 
  margin-left:20%; 
  float: left;
  height:30% ;
}
.tex_down
{
  margin:17%  auto;
  margin-right:10%;
  color: green;
  float: right;
  font-size: 110%;
}
.uper 
.title1 .green_title{
  color:green;
}
.header {
  z-index: 2;
  overflow: hidden;
  background-color:rgb(230,230,230);
  padding: 15px 10px;
  position: sticky;
  top: 0;
  width: 100%;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header img.logo {
  margin-left: 5%;
  overflow: auto;
  height: 50px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.border_left
{
  border-left: 2px solid black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  margin-right: 5%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/*Вертикальна лінія*/
.vl {
    border-left: 6px solid green;
    height: 500px;
  }
  .shit
  {
      height: 1000px;
  }
  