
.drop{    
    
    background-color:rgb(230,230,230);
    color: white;
    text-align: center;
    height: 50px;
    font-family: 'Arial';
    
    z-index: 100;
    position: fixed;
    top: 0;
      width: 100%;
}

.drop #check-menu{
    display: none;
}
.logo_burger{
  margin-left: 5%;
  overflow: auto;
  height: 50px !important;
  width: 133px !important;
}
.drop label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.drop .burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
}

.drop .second, .third{
    top: 18px;
}

.drop .fourth{
    top: 28px;
}

.drop .main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
}

.drop a{
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-top: 1px solid rgba(255,255,255,.3);
    background-color: rgb(230,230,230);
}

a:hover{
    background-color: rgba(255, 255, 255, 0.596);
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}